body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

span {
    color: coral;
    ;
}

h1 {
    font-size: 50px;
}

.button {
    text-decoration: none;
    background-image: linear-gradient(coral, salmon);
    border-radius: 5px;
    border-color: coral;
    padding: 10px 40px;
    color: white;
    font-weight: 800;
}

section {
    display: flex;
    padding-left: 7%;
}

.width {
    width: 50%;

}

.width img {
    width: 85%;
}

.top-banner {
    background-image: url(pics/top-banner.png);
    background-repeat: no-repeat;
}